<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/absolut.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Absolut Position CSS</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus
      doloribus accusantium dolore placeat possimus harum expedita ducimus odio!
      Deleniti repudiandae similique beatae quas ex vero! Incidunt ea quia atque
      voluptatem?
    </p>

    <p class="absolut">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium
      sequi facere id beatae veritatis voluptatum saepe inventore porro ipsam
      doloremque dolores minus explicabo quo quae deserunt itaque, aspernatur
      voluptatibus! Est.
    </p>

    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. A, itaque cum.
      Voluptas veritatis minus quidem repudiandae facilis. Cum, iste. Placeat,
      recusandae aspernatur ex impedit fugiat quasi beatae. Doloribus,
      distinctio facere!
    </p>

    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas, laboriosam
      labore fuga officiis id, sapiente ab praesentium corporis illum incidunt
      hic ad nostrum, nisi quaerat vero reiciendis debitis fugit! Voluptate
      reprehenderit perspiciatis, repudiandae dolorum reiciendis cupiditate! Et
      expedita voluptatibus pariatur, aliquid enim ea nihil voluptate, possimus
      quos reiciendis quia recusandae ab dicta. Velit, magnam eligendi natus
      voluptate vitae aperiam voluptas id suscipit in quibusdam eveniet.
      Temporibus quae deleniti alias impedit quaerat consequatur suscipit
      expedita accusantium, quo cum harum. Alias perspiciatis sunt ut ea,
      delectus facere expedita amet vel quidem, fugit laboriosam ab culpa
      blanditiis minus numquam soluta totam tempore quas.
    </p>

    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga voluptatum
      nulla sit recusandae facere nostrum earum nobis quaerat, soluta quo,
      quibusdam cumque id ipsum minima. Nesciunt vero dolore, dicta natus hic
      cum iure tempore doloribus, excepturi eligendi sit provident ex veniam
      nisi corrupti in optio eveniet. Architecto eaque porro molestias
      temporibus assumenda corporis, doloremque iusto totam beatae! Accusamus
      odit obcaecati in doloribus, nam eaque incidunt, aliquid consectetur
      similique deleniti voluptatem voluptates fugit, fugiat praesentium.
      Nostrum quasi explicabo omnis minima architecto quisquam possimus velit
      repellendus, blanditiis ad saepe aliquam magni corrupti vero, dolores
      deserunt enim recusandae delectus porro modi ut voluptatem adipisci
      magnam? Voluptas consequatur earum expedita. Deleniti vero, assumenda
      molestiae quas excepturi nobis aperiam architecto, recusandae laborum eos,
      modi ducimus atque distinctio iusto expedita hic corporis repudiandae
      perspiciatis! Autem voluptatibus, deleniti voluptatem reiciendis nemo
      excepturi eos aut eaque ex dicta inventore repellat nulla corporis
      mollitia exercitationem dignissimos? Ducimus rem quisquam esse? Quos hic
      dolorem beatae aliquam. Possimus placeat reprehenderit vitae voluptatem
      esse ex fuga blanditiis similique hic laboriosam alias, facilis in
      inventore repellendus sit, suscipit consectetur rem aut deserunt
      perferendis, delectus sapiente? Id error, quaerat veritatis quia sint
      veniam laborum minima nobis sequi eius corporis in quam earum, delectus,
      dolorum magnam deserunt officiis qui. Vero quia qui magnam eius quod,
      maxime facilis molestiae fugit nisi ab maiores quaerat numquam ratione
      nobis recusandae quam quidem, aliquam dolor mollitia tempora. Magni
      perspiciatis natus, labore laboriosam quia facilis. Labore, numquam vero.
      Aperiam, voluptates repellat iste beatae quaerat dicta cum blanditiis
      delectus fugiat? Distinctio.
    </p>
  </body>
</html>
