<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/float.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Belajar Float CSS</h1>
    <h2>Judul Artikel 1</h2>
    <blockquote>
      " Manusia Terbaik Adalah manusia yang berguna untuk manusia lainnya "
    </blockquote>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis
      ducimus quos laudantium a rerum temporibus excepturi, rem illo aperiam
      molestiae tempore quae repudiandae explicabo voluptas iste ab laborum
      officia doloribus repellendus! Ratione quos esse ducimus ab et repellat
      error enim sed, distinctio alias amet, mollitia quo porro ex consequatur
      temporibus aspernatur id rem ad, a doloremque! Hic similique voluptatum
      exercitationem, magni impedit ipsam eligendi modi accusamus rerum maxime
      quisquam suscipit nostrum sequi dolor est asperiores, blanditiis velit ut
      voluptate voluptas sunt. Iure, expedita! Quae minus ipsa quasi facilis
      omnis! Ipsam consequuntur sed inventore nostrum quas quis delectus
      expedita nihil veniam optio, voluptates et laudantium architecto tempore
      sit dolor esse harum nemo numquam eaque impedit! Sed fugit dolorem, alias
      reiciendis quaerat voluptatibus, minima, voluptatem recusandae adipisci
      nobis sequi mollitia ad quibusdam atque harum unde cumque aperiam fuga
      ipsum. Aut numquam at eaque ipsum maxime consequatur alias quidem et harum
      libero inventore soluta, dolores iste, nesciunt omnis voluptates
      voluptatum reprehenderit adipisci placeat non consequuntur quis? Nostrum
      nam nisi culpa eveniet natus, inventore quas nesciunt veniam praesentium
      aperiam ab aliquid! Ipsa est incidunt quasi mollitia maiores veniam
      labore, voluptates ut in a consequatur tempora sit ex aut possimus dolorum
      cumque, recusandae perspiciatis accusantium porro, cum vel. Alias ipsum
      similique facere? Ipsa nobis accusantium libero aut hic, explicabo
      consectetur blanditiis sunt aliquam architecto odio, sint, eos animi porro
      corrupti? Dolorem maxime autem iusto odit suscipit laudantium, dolorum
      fugit voluptate veniam ducimus consequuntur odio delectus quae eligendi
      soluta. Asperiores, dolorem facere a optio ipsum vel?
    </p>
  </body>
</html>
