<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/layout.css" />
    <title>layout</title>
  </head>
  <body>
    <div id="header">
      <h1>Logo</h1>
      <div id="nav">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Product</a></li>
          <li><a href="">Service</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>
    </div>
    <div id="content">
      <div id="highlight">
        <h2>highlight</h2>
        <img src="img/alamak.png" alt="gambar" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
          nesciunt accusamus eaque fuga aspernatur, nihil iure, exercitationem
          repellat, sit est ad vero asperiores veritatis animi possimus facilis
          quibusdam perspiciatis voluptatem! Nemo provident repudiandae a sed
          dolorem facilis blanditiis aperiam, commodi ab explicabo fuga minima,
          labore distinctio quaerat rem eos accusamus autem praesentium
          possimus, iure quo natus odio esse ipsum. Quod? Porro laudantium
          laborum quaerat? Quam, illo. Quisquam tenetur repellendus illum
          impedit ipsam, saepe voluptates esse ullam sit perferendis? Provident
          sed pariatur iusto labore dolores ratione libero eaque! Consequatur,
          cumque sapiente.
        </p>
      </div>
      <div class="article">
        <h3>Kolom 1</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint
          possimus, incidunt, accusantium ducimus soluta quis, repudiandae
          architecto at fugiat voluptatum consectetur voluptatibus cumque
          excepturi similique in officia temporibus odit repellat.
        </p>
      </div>
      <div class="article">
        <h3>Kolom 2</h3>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum
          expedita nisi error, molestias in aliquam eum assumenda. Nostrum rerum
          adipisci ducimus quaerat nobis, architecto cupiditate fuga assumenda
          obcaecati quo magnam!
        </p>
      </div>
      <div class="article">
        <h3>Kolom 3</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. A cupiditate
          veniam mollitia suscipit dignissimos commodi architecto ea sed quaerat
          voluptates enim, laborum, beatae eveniet. Tenetur ducimus quidem ea
          nam maiores.
        </p>
      </div>
      <div class="clear"></div>
    </div>
    <div id="footer">
      <p>&copy; Copyright 2023</p>
    </div>
  </body>
</html>
