<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/multi.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="header">
      <h1>Website Terbaik Abad Ini</h1>
    </div>
    <div class="container">
      <div class="kolom-konten">
        <h2 id="judul-1">Asep Adalah Anak Yang Baik</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas,
          perferendis, vel esse hic, placeat voluptates architecto debitis ea
          cum ex provident maxime illo nemo! Eius quis possimus eos consectetur
          exercitationem sapiente, modi harum consequuntur dolorum impedit
          laudantium dolor quae aspernatur omnis veritatis repellendus
          laboriosam placeat ratione. Ut, perferendis recusandae. Quasi?
        </p>
        <h2 id="judul-2">Budi Temannya Asep</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
          laboriosam nobis sed itaque consectetur, perferendis praesentium porro
          est, sapiente quae fugit repudiandae a deserunt ratione numquam nihil.
          Harum quisquam aliquid ab, id perspiciatis optio temporibus quos nam
          aspernatur laudantium cum? Necessitatibus temporibus placeat dolorem
          animi fugiat dolorum magni, maxime quaerat at voluptate nesciunt
          accusamus recusandae voluptatem iste, assumenda, quidem quisquam iusto
          cupiditate architecto totam! Impedit deserunt minima animi? Numquam,
          amet.
        </p>
        <h2 id="judul-3">Tatang adalah kelompok harbinger</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia hic
          deleniti eligendi, perferendis corrupti quam at facilis nesciunt ipsam
          sapiente dolorem iste! Quibusdam, facilis quasi. Corporis impedit
          excepturi id earum, esse eligendi sequi in. Reprehenderit sit
          provident, eveniet ipsa, dolorum consequuntur deleniti rem veniam
          illum sed enim harum accusamus, vel optio minus hic cupiditate impedit
          ea! Omnis hic optio recusandae. Lorem ipsum, dolor sit amet
          consectetur adipisicing elit. Eveniet, dicta nisi ipsam id blanditiis,
          ducimus nostrum officia, ex consequuntur temporibus veniam unde magnam
          magni eligendi beatae quae. Vitae, ipsum rem fugit nihil id fuga iure
          sunt! Eum rerum ex, quia vitae officia mollitia porro nihil
          consectetur labore? Incidunt praesentium, reiciendis et iure porro,
          reprehenderit, veniam dignissimos voluptatem veritatis adipisci
          eligendi iusto qui aut culpa suscipit nihil sed perferendis? Ipsam
          voluptate laborum consequuntur nesciunt natus maiores explicabo iusto
          enim vel, vero assumenda, sit dolores numquam nemo. Ut ab sint,
          similique recusandae ipsum quo, illo cum, harum excepturi nesciunt
          suscipit eligendi voluptatem. Lorem ipsum dolor sit amet consectetur,
          adipisicing elit. Inventore maxime optio obcaecati sed nesciunt animi
          eligendi quos! Nemo recusandae mollitia atque aperiam nam
          exercitationem sunt illum. Vel corporis officiis temporibus dolorem at
          eum cupiditate consequuntur deserunt fugit. Explicabo nostrum vero
          aliquid reiciendis unde doloremque repellendus ullam porro dicta quos.
          Illo excepturi nihil adipisci. Distinctio dignissimos doloremque
          officia blanditiis iure minima corrupti vel mollitia hic eos? Totam
          quos vero temporibus. Quae doloremque, quas laborum aperiam excepturi
          repellat error culpa sint, tempora possimus debitis enim porro rem
          distinctio magnam illum corrupti! Ab eos exercitationem porro, impedit
          dolore sapiente expedita beatae aspernatur asperiores omnis et.
          Ducimus perspiciatis odit aliquam tempora voluptatum fugiat, pariatur,
          ipsam veritatis molestiae accusantium iusto cupiditate! Aperiam sit,
          nostrum odit praesentium, atque neque numquam ad voluptatem ullam,
          quia impedit harum? Rerum, id sunt tempore beatae commodi aliquam,
          pariatur asperiores cupiditate aperiam quia explicabo ipsam sint
          nobis. Ut repellendus eveniet, itaque consectetur ab incidunt
          temporibus iusto laboriosam libero deleniti voluptates eligendi, iste
          et sunt quidem delectus velit in laborum quibusdam magni. Incidunt,
          suscipit. Atque at labore ut molestias tenetur delectus laudantium.
          Commodi ea alias sit animi eligendi voluptas? Minus quas voluptatem
          delectus autem dignissimos, tenetur enim architecto eaque numquam
          omnis dolores!
        </p>
      </div>
      <div class="kolom-menu">
        <ul>
          <li><a href="#judul-1">Asep</a></li>
          <li><a href="#judul-2">Budi</a></li>
          <li><a href="#judul-3">Tatang</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
