<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/relative.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Relative Position CSS</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta nobis,
      pariatur totam laudantium labore architecto optio deserunt molestias nihil
      eum, sequi, voluptatum maiores quasi repellendus natus qui nisi ea ex?
    </p>

    <p class="relative">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
      veritatis numquam ipsa rerum sapiente blanditiis doloremque repellendus
      necessitatibus, maiores, exercitationem accusantium, consequatur modi
      eveniet labore quidem aperiam. Inventore, voluptatum ea?
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus
      inventore a excepturi, quisquam laboriosam unde sit nesciunt at id
      corporis nemo porro voluptate obcaecati, ipsa in eius dignissimos voluptas
      molestiae?
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam
      mollitia ipsum accusantium ullam necessitatibus repellat minus hic illo
      dolorem saepe, aut natus odio facere pariatur quam earum illum numquam.
      Quasi! Unde ea aperiam non explicabo dolorem. Porro expedita aliquid
      doloribus voluptatum fugit sapiente dolore repudiandae illo corrupti, hic
      odit quam eius odio cupiditate sit! Placeat aut odit nulla? Autem,
      aperiam. Illo at in, minus nam error fugiat atque est ipsum suscipit iusto
      accusantium? Maiores quia delectus fuga iusto fugit illo veritatis ullam
      quidem natus distinctio, odit similique pariatur voluptate nisi?
      Voluptatum animi quo aliquid mollitia temporibus exercitationem aut
      perferendis. Iste numquam reiciendis eligendi dolorem nam, natus ipsa
      architecto voluptatibus incidunt assumenda adipisci sit officia tempore
      praesentium enim quaerat quae omnis! Illo veritatis incidunt voluptates
      eligendi reprehenderit, laboriosam quia veniam ullam, facere alias eveniet
      aliquam perspiciatis animi officiis corrupti iste dolore doloribus
      perferendis provident fuga? Atque beatae libero corrupti dignissimos
      officiis. Amet repudiandae, quam beatae velit cum provident cupiditate
      adipisci obcaecati, ut recusandae sunt non, placeat animi quisquam! Cumque
      placeat iste, ea harum, ratione dolores exercitationem sed optio, porro
      eligendi consequuntur. Adipisci ipsa autem aut consequuntur tempora
      aperiam minima nisi sint nostrum, ullam explicabo, at voluptatibus
      mollitia facilis molestias numquam quasi reiciendis sequi asperiores
      delectus impedit necessitatibus. Ratione veritatis nihil praesentium. Quam
      ipsa officia, minima soluta repellat error est ipsam sit voluptatem
      dolorum dolore temporibus, libero aut? Voluptatum tempora cumque
      aspernatur optio animi porro blanditiis vero inventore sunt, perspiciatis
      facere illum! Magni porro tempora autem perspiciatis expedita impedit
      assumenda tempore dignissimos sit. Est quibusdam reiciendis a dolores
      necessitatibus numquam atque dolorum nemo, nam exercitationem delectus
      possimus quae mollitia alias maiores asperiores. Amet corrupti maxime eos
      magnam doloribus nostrum, aspernatur quibusdam odit laboriosam, voluptas
      cumque suscipit soluta nesciunt quaerat reiciendis, mollitia reprehenderit
      neque possimus veritatis ut dolorem ullam enim blanditiis maiores? Ad?
      Animi, iure. Nemo, sequi harum ipsum quam, quas eos qui aliquam
      voluptatibus obcaecati vel fuga hic illum expedita, commodi rem unde
      perspiciatis! Culpa omnis ipsam iste vel? Quo, animi dolores. Quia, earum
      nam. Sit numquam expedita dignissimos, minus beatae voluptatem, culpa est
      quidem cupiditate quod excepturi atque optio asperiores. Cupiditate rem
      nihil veritatis qui possimus officia repellendus, expedita iure atque!
      Ipsum a dolore vero consequatur impedit? Excepturi doloremque est delectus
      pariatur magni distinctio aperiam perferendis, fuga asperiores
      consequuntur deserunt cupiditate veritatis quisquam cumque maxime sint
      reprehenderit ut eos ducimus vel! Architecto facilis deleniti odit fugiat
      est sit officiis, quasi assumenda! Amet consectetur corrupti quisquam
      corporis iste laudantium, facilis rerum consequuntur atque, possimus
      suscipit aliquid cumque vero ab minus. Commodi, quo. Placeat tenetur
      voluptatibus provident quibusdam sint dolore ex, exercitationem totam iure
      dignissimos nobis laboriosam veritatis vel, libero recusandae iste
      inventore eaque minima quas doloremque officia dolores. Eos enim adipisci
      ullam. Tempora culpa accusantium laboriosam voluptatibus cupiditate sit
      laborum eos pariatur fuga ipsa, reiciendis molestias numquam accusamus
      voluptatum et. Totam deserunt cum dignissimos placeat impedit eligendi
      esse obcaecati nisi asperiores culpa. Consequuntur nulla, nobis quidem
      officiis quae quaerat eius officia consequatur omnis illo, eaque minus
      nisi corporis magnam eveniet at neque. Aspernatur molestiae, corporis
      ipsam optio temporibus aliquam. Nam, sit possimus. Omnis ad dicta neque
      quos praesentium ab debitis ratione sint ut assumenda dolor nobis nostrum,
      saepe alias porro beatae enim asperiores optio, adipisci nulla rem? Quasi
      fugiat quas perferendis sed? Nulla, iure? Animi molestiae voluptates
      repellat provident accusamus, repudiandae dolores labore inventore quas
      rem debitis sapiente assumenda tenetur eaque consequatur, non amet iusto
      itaque nemo iste ratione? Fuga, nam facere? Quisquam, laboriosam fugit
      recusandae, iusto nisi expedita aliquam unde doloribus harum similique vel
      id? Quos corporis eos nulla doloremque veniam laboriosam beatae culpa? A
      assumenda qui porro officiis beatae nobis? Vitae rerum tempore consequatur
      rem maiores adipisci officiis cumque. Deserunt dolores error, incidunt
      quidem necessitatibus laboriosam ea? Deleniti cupiditate, cumque, quia
      rerum quod tempora reiciendis iusto a, odit porro voluptate? Nihil nostrum
      necessitatibus molestias laudantium asperiores libero dolore beatae iste
      ex molestiae ducimus temporibus minima vero placeat recusandae repudiandae
      atque sunt, sequi inventore, repellat cum dolor fuga ratione odio. Ipsa!
      Suscipit, qui, quam laboriosam blanditiis sapiente, sequi a accusamus
      laudantium fugiat labore tenetur obcaecati eveniet ab cumque nemo neque
      earum esse natus recusandae. Quod ad aspernatur nostrum, quaerat molestias
      necessitatibus! Atque eligendi magni, repudiandae veniam distinctio
      dolorum delectus quas asperiores vitae esse numquam nihil officiis
      facilis, inventore perferendis voluptatum adipisci maiores porro, ut omnis
      aperiam. Amet expedita temporibus nemo ad? In temporibus porro ab ratione
      esse harum, tenetur dolorum ipsam id molestias doloremque delectus,
      quisquam expedita voluptatem mollitia autem explicabo consequuntur quas
      veniam sed a cumque nulla. Quos, animi nesciunt. In libero autem, aperiam
      id modi sint molestias rerum repudiandae aliquid rem incidunt, nobis
      asperiores saepe molestiae omnis earum repellat accusamus hic. Ut quidem
      minima repellendus nemo neque, soluta reprehenderit! Sequi voluptatem unde
      officia atque excepturi accusantium quo reprehenderit. Ducimus sunt
      pariatur expedita minus nobis assumenda, eum illo inventore aspernatur at
      amet nesciunt quaerat excepturi error, ipsa, deserunt iure. Repellendus.
      Numquam tempora officiis debitis ratione. At adipisci praesentium,
      quibusdam officia labore animi aut odit corporis voluptates, facilis
      deserunt fuga dolor earum! Rerum, dignissimos nesciunt exercitationem
      inventore nemo voluptates aut iure. Asperiores dolor quae corporis
      necessitatibus recusandae dolores repellat alias quaerat sunt consectetur.
      Doloremque sequi quia soluta! Magni cumque quibusdam at vitae eaque
      laboriosam inventore eligendi tempora sint, ut accusantium maiores?
      Molestiae temporibus quis iure earum atque quibusdam cum consectetur optio
      rem laudantium dolores, non asperiores blanditiis voluptates et tempore
      consequuntur, sunt tempora expedita aliquam, quidem impedit eius ut?
      Inventore, fugiat! Ipsa commodi in ipsum, temporibus eius asperiores saepe
      non ullam esse obcaecati id pariatur est laudantium quidem hic voluptas
      natus amet repudiandae dolorem! Quidem excepturi corporis voluptatem eum
      possimus quod! Esse, recusandae vero perspiciatis accusamus natus odio
      illum? Ad iste doloremque dolorem ipsum repudiandae culpa dolore fugiat
      ea? Non, eaque a labore veritatis voluptatum iure consequatur magnam id
      nihil ratione. Alias quae vitae mollitia dignissimos quod corrupti
      numquam, minus consectetur repellat porro. Natus ratione exercitationem
      non? Aliquid atque, temporibus quibusdam repudiandae beatae totam
      exercitationem optio numquam veritatis voluptas, quasi aliquam! At
      perferendis, eos in hic voluptatem perspiciatis consectetur alias
      reprehenderit non animi, voluptatibus sint facere vel quo ipsum
      necessitatibus distinctio, amet nulla maxime qui praesentium quibusdam! Ut
      cum exercitationem enim? Recusandae sequi totam quisquam voluptate
      doloremque, ducimus praesentium id vitae magni similique dolorum hic
      reprehenderit dolores, repellendus laudantium accusamus possimus saepe qui
      architecto amet nisi. Sint optio obcaecati repellat repellendus! Quam
      laborum rerum molestiae autem id fuga quasi deserunt ea, consectetur ipsa
      voluptas in, voluptatem vitae ducimus ipsam ad, animi fugiat aspernatur.
      Nemo ullam error rem doloremque est eveniet qui. Explicabo provident ut
      blanditiis itaque deleniti excepturi commodi vitae nihil ipsa fugiat id
      eveniet ratione enim totam dignissimos saepe voluptatum expedita, minus
      similique delectus dicta et modi! Optio, recusandae doloribus? Ex omnis
      dolore quibusdam exercitationem iste autem neque, perferendis, iure
      explicabo labore tempore, maiores perspiciatis facilis sunt voluptatem
      fugit excepturi cumque laudantium delectus minus eligendi? Neque voluptas
      optio minus id. Quod, sit repellat corporis rem aspernatur culpa explicabo
      veritatis fugit voluptates porro eum et perferendis, sapiente impedit
      iusto earum architecto vitae officia, minima maxime excepturi optio
      obcaecati? Placeat, harum cumque. Cumque animi ipsam aliquid fugit nobis
      similique quaerat! Odio, enim. Accusantium atque deleniti assumenda!
      Aspernatur consequuntur inventore perferendis neque ullam, explicabo iure
      tempora nisi earum cum praesentium, ratione assumenda aliquid. Incidunt
      doloremque minima, magnam recusandae similique illum ullam, tempora
      temporibus saepe hic ad itaque vel sapiente perferendis accusamus sequi
      neque ratione, sed ut minus magni quaerat harum! Iusto, ullam voluptas?
      Numquam deleniti beatae ab sint consectetur dicta consequuntur explicabo
      dolore necessitatibus mollitia perferendis, molestias atque eligendi,
      fugit cumque possimus architecto eius voluptate nesciunt! Nam dicta
      doloremque aliquid, excepturi at blanditiis! Quidem, voluptatum. Facilis
      voluptas suscipit sed recusandae adipisci. Hic maxime sint id corporis
      deleniti numquam quis, pariatur repellat saepe delectus. Id quisquam omnis
      doloremque voluptates animi voluptatibus assumenda adipisci libero! Est
      voluptatem architecto sunt inventore molestiae, a corrupti sapiente sequi,
      natus facere quasi cupiditate assumenda in optio! Officia beatae ex
      labore, placeat porro, illum minima aperiam necessitatibus sequi numquam
      perferendis. Fugiat voluptates quae numquam quasi quisquam consequuntur,
      laudantium impedit inventore dicta mollitia maxime sunt quia maiores?
      Natus velit voluptatibus quos expedita. Numquam voluptates debitis dicta
      dolores dolorum, harum praesentium impedit? Eum asperiores nobis placeat,
      quidem, architecto est eius, ad libero blanditiis hic doloribus rem! Quis
      numquam, possimus eum provident reiciendis explicabo distinctio officia,
      tempore iste libero ut quasi ea quaerat. Ut labore perspiciatis molestiae
      fugiat, possimus illum nostrum voluptatum, consequatur fugit nulla iste
      dolorum eaque? Alias ratione sequi in minima. Repellendus eius error quam
      minima dicta autem quas accusamus sed! Corrupti mollitia nulla autem
      veritatis dolores quo labore nam eius quia, voluptatibus voluptate aliquid
      aut necessitatibus minus qui explicabo ipsam a consectetur. Quibusdam,
      modi neque fugiat possimus quasi eaque nam. Dolorem quae voluptatibus
      eaque ullam error doloribus fugiat, officiis delectus asperiores dolor
      nulla obcaecati quasi, facilis minima unde esse illo eum quo aliquam
      voluptas consectetur sapiente debitis repudiandae temporibus. Mollitia?
      Porro consectetur illo, atque amet iste suscipit esse ea accusantium sunt
      fugiat cum, alias expedita ut nisi provident cumque quam dicta non! Sequi
      esse inventore minima obcaecati facilis laboriosam saepe.
    </p>
  </body>
</html>
