<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/sticky.css" />
    <title>Sticky Position</title>
  </head>
  <body>
    <div class="header">
      <h1>Sticky Position</h1>
    </div>

    <h2 class="judul-1">Judul 1</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis, cum
      voluptatem? Mollitia, iusto fugit asperiores, dignissimos delectus
      laboriosam provident, consequuntur laudantium magni placeat esse dolore
      quam necessitatibus alias repellendus possimus.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum deserunt
      culpa quis porro consequatur dolorum, laudantium quibusdam, aut nulla sint
      non ea sapiente dolores? Temporibus quia laudantium recusandae id debitis.
    </p>
    <h2 class="judul-2">Judul 2</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa iure quia
      labore aliquam ducimus hic possimus quos recusandae ipsa? Earum at iste
      provident dignissimos soluta reprehenderit nemo, explicabo aperiam
      similique!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque ipsam,
      quo deleniti blanditiis labore rerum aspernatur assumenda. Repellendus a,
      labore assumenda nulla recusandae doloremque ex neque, blanditiis eos
      asperiores nobis! Velit sint accusantium iste consectetur quod neque
      excepturi, amet dolorum at natus exercitationem doloribus eos fuga vel
      quaerat cumque libero, recusandae tenetur dolores expedita nesciunt
      maiores magni. Sequi, possimus deserunt? Itaque at pariatur reiciendis
      consequatur ullam facere molestias exercitationem repellendus quibusdam
      eum hic recusandae quaerat, nobis amet a aliquam quasi sequi deserunt, ut
      possimus fuga doloremque explicabo suscipit. Cumque, cum. Assumenda
      deserunt beatae facilis quas itaque. Laborum excepturi, autem cumque ipsam
      inventore harum asperiores quia nam magni, tempora atque quod repellendus
      explicabo officia provident reiciendis, odio iste similique saepe minus.
      Ipsam eum, dolorem beatae alias quis dolor maiores praesentium quidem ab
      temporibus ullam architecto totam. Accusantium sit, esse molestias maxime
      mollitia recusandae aut nam ipsam, sint dolor saepe eaque cum? Mollitia
      itaque recusandae dolor! Officiis nesciunt facere reprehenderit,
      recusandae distinctio voluptates amet omnis non molestias mollitia esse
      consequuntur cupiditate, quae libero harum vitae exercitationem porro
      inventore? Eos, excepturi aut? Sint. Accusantium quasi ipsam nulla enim,
      quibusdam hic ab, omnis odit doloremque quas iure voluptate ullam voluptas
      sunt itaque voluptates fugiat. Sed, quaerat saepe ipsam expedita dolorem
      harum alias atque assumenda! Aliquam eos ex, eaque reprehenderit aliquid
      praesentium blanditiis! Eius nam laboriosam aperiam, delectus veritatis
      debitis tempora. Nisi consequatur deserunt quam! Et deserunt iure nulla
      harum quidem corporis sequi, nemo tenetur! Facere quos non maxime
      perferendis neque officiis, consequatur saepe impedit dolorum, reiciendis
      dolores accusantium reprehenderit quibusdam delectus aliquid sequi commodi
      temporibus nostrum enim quae praesentium excepturi, cupiditate accusamus.
      Quaerat, quam! Hic quo enim laboriosam, assumenda nemo sequi inventore
      itaque temporibus architecto quas sit ullam modi non voluptate,
      accusantium iusto molestiae cupiditate. Cum ab perferendis eius ullam
      laborum at minus blanditiis. Perspiciatis nobis soluta odit neque fugiat,
      omnis nam, dolor doloribus harum, distinctio eaque. Nihil optio alias
      aliquam non mollitia fugit error! Libero itaque officiis ut commodi quo
      reiciendis aliquam aspernatur. Vero explicabo, odio dolores odit
      distinctio reiciendis voluptatum amet culpa, fugit officiis voluptas nemo
      voluptatem cumque maiores eum alias facere consequuntur aperiam veritatis
      earum eos illum inventore officia? Hic, fugiat. Nulla nihil reiciendis,
      optio deleniti ad fugiat. Voluptatibus rem voluptatem, at recusandae
      nesciunt saepe blanditiis nemo! Deserunt iure molestias laborum. Obcaecati
      perferendis, iure qui debitis illum incidunt eveniet! Earum, dolor?
      Corrupti pariatur omnis animi consequatur eveniet possimus sit! Illo,
      facilis error ipsum dolores voluptatum est dignissimos voluptatibus? Quam
      ut totam asperiores, quas veniam et pariatur eligendi nisi sint, tenetur
      quibusdam. Nesciunt dolores obcaecati numquam exercitationem, itaque
      accusantium, et sunt iste veritatis quidem sequi asperiores provident,
      sint vero quis dolorem distinctio mollitia tenetur minima eum ratione enim
      laboriosam. Modi, nisi facere! Mollitia veritatis dignissimos et sed
      voluptatem consectetur itaque praesentium fuga, tempore quos commodi qui
      eum, inventore repellat id amet nisi velit, vel nostrum eius ab soluta
      ratione ullam odit? Atque? Reiciendis ratione excepturi sed ipsam
      inventore? Ratione nobis, repudiandae saepe, dolorum nesciunt perferendis
      dolore odit tempora ipsa similique enim maxime assumenda laudantium
      consectetur! Incidunt similique recusandae error et, deleniti odio! Iusto
      praesentium beatae aliquam reprehenderit ad impedit quisquam culpa
      molestiae officia, expedita magnam earum suscipit recusandae. Autem
      voluptatibus odio quae obcaecati repellat quisquam labore. Temporibus
      dolor saepe dicta deserunt porro. Laudantium, possimus atque cumque ad
      corporis omnis esse vitae, hic neque blanditiis eius. Recusandae nam, ipsa
      vitae soluta accusamus, rerum et natus placeat, fuga quo magnam. Sint qui
      accusamus non. Molestiae placeat quo impedit, a quas corrupti dolorem
      tempora tenetur laudantium iure. Officiis consequatur earum, praesentium
      molestiae labore voluptas aliquid voluptatem recusandae illo, distinctio
      officia nihil. Harum, dignissimos exercitationem. Dolore. Doloremque et
      corporis fuga excepturi blanditiis dolores perspiciatis deleniti eligendi
      quasi voluptatem labore adipisci commodi pariatur, a temporibus nam
      praesentium! Dicta sint adipisci alias nesciunt sapiente fugiat eligendi
      enim et. Fugiat, ratione? Atque dolor odio a facilis error suscipit facere
      natus dolorem officia, ipsum neque vero et itaque assumenda, quos omnis
      sit, maxime ullam fugit iure odit? Autem, dolor unde! Accusamus beatae
      iusto officia nam numquam vitae quidem in fugit eaque, laboriosam
      accusantium delectus distinctio obcaecati repellat nostrum natus ratione
      hic esse odio earum ipsum eligendi porro quis facilis? Provident. Sequi,
      expedita ipsam. Cum recusandae ea voluptatem commodi! Nesciunt a, sequi
      tempora alias eos blanditiis distinctio placeat id adipisci quidem
      veritatis praesentium impedit eius laudantium perferendis soluta corporis,
      consectetur eum? Cupiditate eos tenetur error ad eveniet nam inventore
      veritatis deserunt doloremque in culpa maxime molestias, repudiandae non?
      Quia magni ad quam mollitia! Officiis recusandae repellat, nobis adipisci
      harum similique in. Porro veritatis esse eveniet modi aut officiis, ab
      recusandae ad dolorum blanditiis non corrupti doloribus asperiores impedit
      eaque ipsa, totam ipsum consequuntur neque, enim nam hic omnis.
      Dignissimos, quod ratione. Tempore quo minus aliquam veritatis. Assumenda,
      sunt rem. Reiciendis, repellat numquam fuga a doloremque dolores quos
      harum inventore ut, maiores quasi est eligendi autem quo minima eveniet ad
      officia esse. Error alias voluptas corporis minima eius quaerat numquam
      reprehenderit? Neque minus dicta dolor facilis tempore blanditiis quisquam
      ullam aperiam quas, exercitationem eius. Quia, ullam veritatis. Facere
      eligendi soluta tempora quas. Blanditiis excepturi expedita iste, labore
      commodi obcaecati facere explicabo, praesentium esse ipsam corrupti,
      accusamus natus dolor! Eius blanditiis temporibus magnam nisi tempore
      obcaecati enim sequi magni, voluptatum deserunt totam? Natus. Soluta nam
      expedita, facilis quia, consequuntur deleniti voluptatum reprehenderit
      voluptas esse, corrupti cupiditate. Non consequuntur, iste ipsa sint qui
      nobis ullam sapiente, nesciunt harum tempore temporibus, odio cumque
      minima iure. Totam quae deleniti voluptates excepturi non! Aut et
      voluptatum, excepturi dignissimos eius earum, asperiores, dicta nesciunt
      fuga sunt cumque. Tempora molestiae ea aperiam quisquam. Officia accusamus
      veritatis blanditiis ab corrupti. Praesentium, adipisci sapiente. Sit
      commodi ut aspernatur culpa itaque labore temporibus, eius ipsam
      accusamus, quos ducimus fuga nobis hic! Quaerat ipsa sapiente distinctio
      velit id unde iste libero eaque saepe. Suscipit quas veniam molestiae fuga
      praesentium veritatis beatae, doloremque nulla quod, ipsa accusantium
      necessitatibus, rerum obcaecati dicta recusandae dolorem a quam at vitae
      saepe perferendis aliquam voluptatum adipisci hic! Quaerat. Quos vel
      deleniti accusamus veniam sit consequatur porro voluptates eligendi
      architecto quod, iure nesciunt, expedita, ducimus non aliquid sint animi?
      Quidem deleniti eveniet blanditiis voluptatibus iste quaerat minima vitae
      architecto. Magni eos deserunt, maiores laborum, vitae minima excepturi
      porro, velit explicabo officiis dolorem praesentium dolore sapiente
      dolorum voluptatum voluptates veniam optio quae inventore dolores?
      Perferendis, atque autem. Optio, ducimus amet! Assumenda voluptatibus
      optio id mollitia recusandae fuga animi, veniam distinctio eos aliquam
      esse labore accusamus sit numquam asperiores ducimus ipsum officiis
      similique iste laborum incidunt reiciendis debitis? Quis, qui corrupti.
      Architecto obcaecati iste recusandae, et tenetur impedit quisquam! Est
      minus ex, quos iste officiis consectetur repellendus consequuntur
      molestias illum quas, a aspernatur repudiandae ullam ea voluptates saepe
      labore asperiores architecto. Quia vel alias est? Quia fugiat adipisci
      reiciendis, culpa, perspiciatis consequatur facere dignissimos assumenda
      ad doloremque non pariatur officia aspernatur! Magni, nobis aspernatur sit
      in corporis optio placeat numquam provident! Ducimus, alias? Fuga libero
      praesentium necessitatibus culpa, numquam ut minima impedit fugit sapiente
      optio saepe officiis eum at maiores minus unde, rerum suscipit, tempore
      nobis ratione delectus. Neque, dignissimos. Quasi. Totam cumque, magnam
      similique, voluptas voluptate ad quibusdam iure odit rem, dicta nesciunt
      distinctio nostrum quia autem iusto expedita quod voluptates beatae? Illo,
      quae neque? Dolorem expedita accusamus impedit quo? Odio iure perspiciatis
      cum ratione? Alias distinctio commodi ad eveniet aliquam dignissimos
      mollitia quo maiores incidunt impedit ipsa pariatur aspernatur ea,
      repellat doloribus quis. Officia rerum provident aliquid eligendi labore!
      Omnis harum accusantium, libero similique hic earum illum. Aliquid
      possimus, provident, non nihil cum necessitatibus perspiciatis totam
      dignissimos atque sed ea. Eos quam labore iure nesciunt quia quae illum
      voluptates! Maxime adipisci non dolores mollitia quibusdam doloremque
      dicta, tempora, totam asperiores explicabo id deleniti optio. Nisi
      incidunt fugit eaque quod. Maiores aperiam iure voluptatem dolorum enim
      ducimus tenetur reiciendis ipsum! Quae sint at hic doloremque temporibus
      expedita dolores sapiente voluptatem id ab explicabo magni praesentium,
      fuga laborum, facilis rem itaque sit dignissimos. Itaque accusantium
      aliquid recusandae harum voluptatum corporis! Ut. Maiores necessitatibus
      assumenda sapiente laborum officia sint quam dolores, qui tempore enim
      repellendus veniam quisquam, laudantium debitis accusamus corrupti
      dignissimos vel vitae excepturi reiciendis aspernatur? Sit laudantium
      commodi expedita quasi. Tempora deserunt et reiciendis magni sequi! Minima
      expedita voluptas saepe, cumque quae accusamus eveniet iure, aliquid
      necessitatibus deleniti error alias voluptatibus neque, sit illo quibusdam
      soluta quos vero sunt? Ut! Veniam, obcaecati numquam ratione quam voluptas
      consectetur dolor voluptates quas et libero sit natus id nesciunt commodi
      modi a, ab quasi saepe? Omnis iste hic at cumque architecto sequi aut? Et
      sunt assumenda numquam maiores cumque saepe, aliquid cum necessitatibus
      ullam, quisquam velit. Consequuntur eum amet harum, possimus animi
      assumenda libero facilis perferendis, praesentium nihil blanditiis facere
      similique nisi sunt? Maiores dolor obcaecati architecto excepturi
      aspernatur earum iusto aliquam fugiat ducimus perferendis. Magni, eos
      ullam. Vitae, autem est pariatur nihil nesciunt id non nulla porro quaerat
      laudantium reiciendis optio illo! Consequuntur minus exercitationem sed
      dolorem a, aut qui quisquam eaque assumenda! Illum perspiciatis provident
      alias quod. Accusantium maxime, fuga quae animi eos tempora ab, mollitia
      doloremque aut facere sit eius?
    </p>
    <h2 class="judul-3">Judul 3</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ad fugit,
      quidem voluptas ex, quae sit voluptate soluta et sequi beatae? Quod
      placeat earum hic, accusamus modi quisquam. Officia, eos?
    </p>
  </body>
</html>
