<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Web Keren</title>
  </head>
  <body>
    <div class="topbar"></div>
    <div id="container">
      <a href="https://www.instagram.com/rezaa2p/" class="ig" target="_blank"
        >RezaRP</a
      >
      <div id="header">
        <h1>Web Terbaik</h1>
      </div>
      <div id="nav">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Product</a></li>
          <li><a href="#">Service</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div id="hero"></div>
      <div class="content cf">
        <div id="main">
          <h2>Judul Artikel</h2>
          <p class="credit">
            Ditulis oleh <a href="#">CHelixx</a> pada 1 januari 2030
          </p>
          <p class="article">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora
            veniam sapiente, provident esse maiores repudiandae voluptate magni?
            Tenetur odit nobis voluptatem necessitatibus odio corrupti, corporis
            nesciunt qui debitis ad enim error repudiandae animi suscipit, quod
            maxime perferendis praesentium voluptate quis repellat neque
            numquam. Id consequuntur eaque, nihil culpa vero esse!
          </p>
          <p class="article">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint nisi
            excepturi porro possimus veritatis veniam corporis cupiditate fugit
            atque, quibusdam pariatur qui quas vero placeat ipsa eaque similique
            quos accusantium soluta. Distinctio quae suscipit facilis inventore
            iste nesciunt assumenda veniam?
          </p>
          <p class="article">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga,
            nulla ullam a ipsam consequatur aliquid consectetur molestias culpa
            sint facere enim eligendi quo quisquam est quos error totam
            inventore tempora.
          </p>
        </div>
        <div id="sidebar">
          <h3>Tentang Penulis</h3>
          <img src="/img/cnuy.png" alt="gambar" />
          <p></p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur,
            rerum ut ea nulla tempore fugiat? Nobis harum reiciendis, excepturi
            assumenda aut obcaecati fuga deleniti doloremque rerum laboriosam
            unde et iusto.
          </p>
        </div>
      </div>

      <div id="footer">
        <p>&copy;Copyright 2030. Reza Ramdan P all rights reserved</p>
      </div>
    </div>
  </body>
</html>
